# 忽略虚拟环境文件夹
venv/
env/
.env
venv

# Python 字节码文件
__pycache__/
*.pyc

# IDE 配置文件
.idea/
*.iml
.vscode/

# 操作系统生成的文件
.DS_Store  # macOS
Thumbs.db  # Windows

# 日志文件
*.log

# 其他临时文件
*.tmp
demo/
mind/

# 数据文件
data/
model_weights/
bert_cn/